<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      Hello everyone, this web app offers you to organize your tasks based on their deadlines,
      tasks with earlier deadlines will appear first, once task is completed, you will see this task striked.
      If task is not complited till 10 minutes before the deadline, you will get an email, reminding you,
      about the task that you need to accomplish. You can share the tasks with other users, you can also drop comments
      on the tasks which make the disccusion of task available with the  people that you've shared task with.

    </p>
  </body>
</html>
