{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-color:#f5f3e7;">

    <form class="modal-content" method='POST' action="">
      {% csrf_token %}
      <div class="container">
        <h1>Delete Task</h1>
        <p>Are you sure you want to delete task named {{task}}?</p>

        <div class="clearfix">
          <a href="{% url 'tasks:home' %}"><button type="button" class="btn btn-primary">Cancel</button></a>
          <button type="submit" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </form>
  </body>
</html>
{% endblock %}
